body {
    display: flex;
    flex-direction: column;
}

#profilephoto {
    width: 20%;
    height: 20%;
}

header {
    text-align: center;
    justify-content: center;
    background-color: aqua;
}